#Tab3 {
  text-align: center;
}
.background-image {
  position: relative;
  top: 30px;
  left: 0;
  width: 100%;
  height:auto;
  z-index: -1;
}

.background-image img {
  width: 100%;
  height:auto;
  position: relative;
  z-index: -1; /* Coloca la imagen detrás del contenido */
  opacity: 0.3;
  margin-top:70px;
}
#Tab3 h1 {
  font-size: 40px;
  margin-bottom: 15px;
  color: #064044;
  margin-top: 15px;
}

#Tab3 p{
  color: #064044;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
  margin-right: 400px;
  margin-left: 400px;
  margin-top: 5px;
}

#Tab3 h3{
  color: #064044;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.GlaucoTech img {
  border-radius: 10%;
  margin-left: 115px;
  margin-bottom: 15px;
  width: 40%; /* Reducir el tamaño a la mitad */
}
.GlaucoTech {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
 }

button[type="Comprar"] {
  background-color: #064044;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 140px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 20px;
}

button[type="Comprar"]:hover {
  background-color: #26696D;
}