/* Estilos para el contenedor de opiniones */
.opinion-container {
  overflow: hidden; /* Limpiar el float de las columnas */
}

.columna-izquierda,
.columna-derecha {
  float: left;
  width: 48%;
  padding: 0 10px; /* Espacio entre las columnas */
}

.opinion {
  width: calc(100% - 20px); /* Establecer el ancho para que quepan dos en una fila */
  border: 3px solid #064044;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.5); /* Fondo semitransparente */
  min-height: 270px;
  
}

.opinion-header {
  display: flex;
  align-items: center;
  color: #064044;
  
}

.opinion-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
  
}

.nombre-usuario {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 30px;
  color: #064044;
}

.star {
  color: #064044;
  font-size: 30px;
}

.star-empty:before {
  content: '☆';
}

.star-fill:before {
  content: '★';
}

.opinion-body p {
  margin-top: 10px;
  color: #064044;
  font-size: 20px;
  text-align: justify;
}

@media (max-width: 768px) {
  /* Para pantallas más pequeñas, mostrar las opiniones en una sola columna */
  .opinion {
    width: calc(100% - 20px); /* Establecer el ancho al 100% para ocupar una sola columna */
    margin-right: 0; /* Eliminar el margen derecho */
  }
}