/* Estilos generales */
.container {
  display: flex;
  background-color: #064044; /* Azul verdoso oscuro */
  color: white; /* Texto blanco para contrastar */
}

.container img {
  margin-right: 5px; 
}

.logo {
  width: 250px; /* Ajusta el tamaño del logo según sea necesario */
  height: auto; /* Mantiene la proporción del logo */
  margin-right: 25px; /* Espacio entre el logo y las pestañas */
  padding: 5px 5px;
}

.tabs {
  display: flex;
  margin-left: 250px;
}

body {
  background-color: #B6D0D1; /* Color de fondo */
  
}

/* Estilos para el pie de foto */
footer {
  background-color: #064044; /* Color de fondo */
  color: white; /* Texto blanco para contrastar */
  padding: 20px;
  text-align: center; /* Centrar el texto */
  margin-top: 20px;
}

.redes-sociales {
  margin-bottom: 10px; /* Espacio entre los iconos y el texto */
}

.redes-sociales a {
  margin-right: 10px; /* Espacio entre los iconos */
}

.redes-sociales img {
  width: 30px; /* Tamaño de los iconos */
  height: auto;
}